*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* tag class */
body{
    background-color: salmon;
    height: 100vh;
}

main{
    width: 1200px;
    height: 700px;
    padding: 1.25rem;
    background-color: rgb(245, 245, 228);
    border-radius: 1rem;
}

i{
    color: white;
}
/* general class */
.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.text-centered{
    text-align: center;
}

.flex-centered{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.jumbo{
    position: relative;
}
div.thumbnail-container{
    width: 20%;
    height: 100%;
    background-color: pink;
}
.top-button,
.bottom-button{
    width: 50px;
    height: 50px;
    position: absolute;
    left:50%;
    transform: translate(50%);
    border: none;
    border-radius: 1rem;
    cursor:grab;
}

button.bottom-button{
    bottom: 0.5rem;
}

button.top-button{
    top: 0.5rem;
}

/* specific class */

header h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    color: whitesmoke;
}

main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

div.jumbo,
div.img-container{
    width: 80%;
    height: 100%;
}

footer button{
    background-color: salmon;
    border: none;
    margin: 1.5rem 1rem;
    cursor: pointer;
}

footer button i:active{
    color: gray;
    
}